body {
  margin: 0;
  padding: 0;
  background-color: black;
  overflow: hidden;
}

.image-container {
  display: inline;
  overflow-y: scroll;
  flex-direction: column;
  left: 5.6vw;
  margin-right: 5.6vw;
  top: 15.4vh;
  max-height: 72vh;
  overflow-x: hidden;
  position: absolute;
  width: 90%;
}

.first {
  margin-bottom: 1vh;
  height: 72vh;
  width: max-content;
  max-width: 100%;
}

.image {
  margin-top: 1vh;
  margin-bottom: 1vh;
  height: 72vh;
  padding-right: 500px;
  width: max-content;
  position: relative;
  object-fit: contain;
}

.photography {
  color: #5f5f5f;
  font-size: 0.9rem;
  top: 5.6vw;
  left: 5.6vw;
  font-family: "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  position: absolute;
  z-index: 1;
  /* opacity: 0;
  -webkit-transition: all 0.5s 0.6s ease-out;
  transition: all 0.5s 0.6s ease-out; */
}

.fade-in {
  opacity: 1 !important;
}

.title {
  color: #e3e3e3;
  font-size: 1.1rem;
  bottom: 8vh;
  left: 5.6vw;
  font-family: "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  position: absolute;
  z-index: 1;
}

.info_collect {
  color: #a9b0b6;
  bottom: 8vh;
  right: 5.6vw;
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 147px;
  margin-bottom: 15px;
  opacity: 0;
  -webkit-transition: all 0.5s 1s ease-out;
  transition: all 0.5s 1s ease-out;
}

.image-count {
  display: flex;
  align-items: center;
}

.image-info {
  display: flex;
  align-items: center;
  margin-left: auto;
}

#image-title {
  font-size: 13px;
  font-family: "Arial Narrow", Arial, sans-serif;
  margin-bottom: 2px;
  margin-right: 3px;
  text-transform: uppercase;
}

#image-year {
  font-size: 13px;
  font-family: "Arial Narrow", Arial, sans-serif;
}

#current-image,
#total-images {
  font-size: 13px;
  font-family: "Arial Narrow", Arial, sans-serif;
}

.nav {
  color: #a9b0b6;
  bottom: 8vh;
  right: 5.6vw;
  z-index: 1;
  display: flex;
  align-items: center;
  position: absolute;
  opacity: 0;
  -webkit-transition: all 0.5s 1s ease-out;
  transition: all 0.5s 1s ease-out;
}

.home,
.about {
  font-size: 10px;
  font-family: "Arial Narrow", Arial, sans-serif;
  color: #a9b0b6;
  display: inline;
}

.home {
  margin-right: 94px;
}

.button {
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}

@-webkit-keyframes pulsate {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.2;
  }
  20% {
    opacity: 0.4;
  }
  30% {
    opacity: 0.6;
  }
  40% {
    opacity: 0.8;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0.8;
  }
  70% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.4;
  }
  90% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 600px) {
  .first {
    max-width: 100%; /* Prevent images from squishing on small screens */
    height: auto; /* Allow images to adjust their height */
  }
  .image {
    padding-left: 0px;
    height: 82vh;
  }

  .photography {
    top: 5.6vw;
    left: 4.6vw;
  }

  .nav {
    bottom: 5.6vw;
    right: 4vw;
  }

  .info_collect {
    bottom: 5.6vw;
    right: 4vw;
  }

  .image-container {
    top: 8.5vh;
    max-height: 82vh;
  }

  .title {
    bottom: 5.6vw;
  }
}

.image-container::-webkit-scrollbar {
  display: none;
}

a:link,
a:visited {
  color: #111111;
  text-decoration: none;
}
